<p id="notice"><%= notice %></p>

 <button type='button' class='btn btn-default btn-lg' id='new-voter-btn' data-toggle="modal" data-target="#modal">New Voter</button>
<%= render 'voters/modal' %>

<div class='col-md-12'>
<h1>Listing Voters</h1>
</div>


    <row>
      <div class='col-md-2'>
        <h2>First name</h2>
      </div>
      <div class='col-md-2'>
        <h2>Last name</h2>
      </div>
      <div class='col-md-2'>
        <h2>Address</h2>
      </div>
      <div class='col-md-2'>
        <h2>City</h2>
      </div>
      <div class='col-md-2'>
        <h2>State</h2>
      </div>
      <div class='col-md-1'>
        <h2>Zip</h2>
      </div>
    </row>

  <tbody>
    <% @voters.each do |voter| %>
      <tr>
      <div class='col-md-2'>
        <td><%= voter.first_name %></td>
      </div>
      <div class='col-md-2'>
        <td><%= voter.last_name %></td>
      </div>
      <div class='col-md-2'>
        <td><%= voter.address %></td>
      </div>
      <div class='col-md-2'>
        <td><%= voter.city %></td>
      </div>
      <div class='col-md-2'>
        <td><%= voter.state %></td>
      </div>
      <div class='col-md-1'>
        <td><%= voter.zip %></td>
      </div>
      <div class='col-md-1'>
        <td><%= link_to 'Show', voter %></td>
        <td><%= link_to 'Edit', edit_voter_pah2(voter) %></td>
        <td><%= link_to 'Destroy', voter, meh2od: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






