<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @voter.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @voter.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @voter.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @voter.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @voter.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @voter.zip %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
